// .index-page-wrapper{
//   background-color: #F2F4F;
// }

// .banner-header{
//   background-color: #D22780;
//   height: 300px;
//   text-align: center;
//   h1{
//     color: white;
//     font-size: 46px;
//     padding-top: 100px;
//   }
//   h2{
//     color: white;
//     font-size: 32px;
//     font-weight: 200;
//     margin-top: 24px;
//   }
// }
// .event-container{
//   margin-top: 80px;
// }

.status-header  p{
  padding: 5px;
  font-size: 16px;
  margin: 0px;
  text-align: center;
  color: grey;
  border-bottom: 2px solid grey;
}

.bid-status-header p{
  padding: 5px;
  font-size: 16px;
  margin: 0px;
  text-align: center;
  color: grey;

}

.professional-events p {
  padding: 20px;
  font-size: 20px;
  margin: 0px;
  text-align: center;
  background-color:none;
  color: white;
  background-color: #D22780;
}

.host-events p {
  padding: 20px;
  font-size: 20px;
  margin: 0px;
  text-align: center;
  background-color:none;
  color: white;
  background-color: #F8B500;
}


.bid-status-card{
  margin: 0;
  padding: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgba(0,0,0,0.9);
  background-color: white;
  height: 150px;
  position:relative;
  border-bottom: 1px solid #BFBFBF;
  margin-bottom: 3px;

  p{
    margin-bottom: 8px;
    font-size: 15px;
    color: rgba(0,0,0,0.6)
  }

  h5{
    padding-bottom: 10px;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 8px;
    text-align: center;
    top: 20px;
    right: 5px;
    position: absolute;
    color: rgba(0,0,0,0.6)
  }

}

.bid-status-card:hover {
   box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

 .past {

    background-color: #f9f9f9;
    border-bottom: 1px solid white !important;
    border-color: white !important;
    p {
      color: grey;
    }
  }

  .accepted:hover {
    box-shadow: 0px 4px 5px #7ED321;
  }


  .pending:hover {
    box-shadow: 0px 4px 5px #F8B500;
  }

  .declined:hover {
    box-shadow: 0px 4px 5px rgba(0,0,0,0.2);

  }



  .future {
    background-color:none;

    h5{
    color: #D22780;
    font-weight: bold;
    }
  }

.event-dash-card{
  border-bottom: 1px solid #BFBFBF;
  padding: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgba(0,0,0,0.9);
  background-color: white;
  margin-bottom: 5px;
  p{
    margin-bottom: 8px;
    font-size: 15px;
    color: rgba(0,0,0,0.6)
  }

  h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px !important;
    margin: 0px;
    margin-bottom: 8px;
    text-align: left !important;
  }

}

.event-dash-card.past {
      background-color: rgba(0,0,0,0.05)!important;
  }

.event-dash-card.past:hover {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.20);
  text-decoration: none;
}

#hosteventspast {
  margin-bottom: 2.5px;
}

#hosteventspast p {
  background-color: white;
  color: grey;
  padding: 20px;

}

#pro-pink {
  color: #D22780;
}

#account {
  color:grey;
}

  .card-btm{
    display: flex;
    .card-btn{
      width: auto;
      height: 35px;
      text-align: center;
      padding-top: 8px;
      padding-right: 10px;
      padding-left: 10px;
      color: white;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 600;
    }
    p{
      padding-top: 5px;
      margin-bottom: 0px !important;
      margin-right: 10px;
    }
    .card-btn-orange{
      background-color: #F8B500 !important;
    }
    .card-btn-green{
      background-color: #7ED321 !important;
    }

    .card-btn-grey {
      background-color: rgba(0,0,0,0.2);
    }

  }

  .orange-service {

  }

.green-button {
    width: auto;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    color: white !important;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #7ED321 !important;
}

.red-button {
    width: auto;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    color: white !important;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #D0021B !important;

}

.grey-button {
    width: auto;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    color: white !important;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(0,0,0,0.2) !important;

}

a:hover{
  text-decoration: none !important;
}
.event-dash-card:hover{
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  text-decoration: none;
}



.bid-status-btm {
  display: absolute;
  justify-content: space-between;
}

.bid-status-top{
  display: absolute;
  justify-content: space-between;
}

.bid-status-bottom{
  display: absolute;
  justify-content: space-between;
}

.events-flex {
  display: flex;

  .accepted {
  color: #7ED321;;
  }

  .pending {
    color: #F8B500;
  }
  .declined {
    color: rgba(0,0,0,0.2);

  }
}

.events-host-flex {
  vertical-align: middle;
  display: inline;
  font-size: 16px;
  color: black;
  margin-left: 25px;
  position: flex;
  z-index: 2;
  height: 40px;
}

.events-flex-item {
  // flex: 0 0 50%;
  padding: 15px;
  flex: 0 0 50%;
}

.bids-flex-item {
  // flex: 0 0 50%;
  padding: 15px;
  flex: 0 0 33.33%;
}

.events-host-flex-item {
  padding: 60px;
  padding-top: 10px;
  flex: 0 0 100%;
}


.menu-dash {
  margin-top: 10px;
  position: flex;
  z-index: 3;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

//this is the class for the first div/container of each page
.dashboard-container {
    margin-left: 300px; /* Same as the width of the sidenav */
}

.professional-events-card {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin: 30px;
    background: white;
    border-radius: 5px;

}


