.index-page-wrapper{
  background-color: #F2F4FB;
}

.banner-header{
  background-color: #D22780;
  height: 300px;
  text-align: center;
  h1{
    color: white;
    font-size: 46px !important;
    padding-top: 50px !important;
    margin: 0px !important;
  }
  h2{
    color: white;
    font-size: 32px !important;
    font-weight: 200 !important;
    margin-top: 11px !important;
  }
}
.event-container{
  margin-top: 80px;
}

.event-card{
  border-radius: 5px;
  margin: 10px;
  margin-top: 30px;
  padding: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgba(0,0,0,0.9);
  background-color: white;
  p{
    margin-bottom: 8px;
    font-size: 15px;
    color: rgba(0,0,0,0.6)
  }

  h2{
    padding-bottom: 10px;
    font-size: 26px !important;

    margin: 0px;
    margin-bottom: 8px;

    text-align: left !important;

  }

  .card-btm{
    display: flex;
    .card-btn{
      width: auto;
      height: 35px;
      text-align: center;
      padding-top: 8px;
      padding-right: 10px;
      padding-left: 10px;
      color: white;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 600;
    }
    p{
      padding-top: 5px;
      margin-bottom: 0px !important;
      margin-right: 10px;
    }
    .card-btn-orange{
      background-color: #F8B500 !important;
    }
    .card-btn-green{
      background-color: #7ED321 !important;
    }

  }
}
a:hover{
  text-decoration: none !important;
}
.event-card:hover{
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  text-decoration: none;
}

.card-top{
  display: flex;
  justify-content: space-between;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
}

.search-bar{
  display: flex;
  margin: auto;
  position: relative;
  top: 51px;
  width: 60%;
  background-color:#333333;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  #event_location{
    margin-right: 8px;
    width: 300px;
    font-size: 20px;
  }

  .date_input{
    width: 30px;
  }
  .filter_index_form{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  #service{
    width: 120px;
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    border-radius: 3px;
  }
  #min_price{
    width: 50px;
    visibility: hidden;
    height: 1px;
  }
  #max_price{
    width: 50px;
    visibility: hidden;
    height: 1px;
  }
  .filter_button{
    background-color: #F8B500;
    opacity: 1;
    color: white;
    font-style: bold;
    font-size: 18px;
    width: 140px;
  }
  .filter_button:hover{
    background-color: #F8B500;
    opacity: 0.9;

  }
}

.slider-container{
  height: 42px;
}
.noUi-connect{
  height: 0px;
  color: black;
}
.noUi-tooltip{
  font-size: 15px;
  font-weight: bold;
}

.noUi-target{
  height: 0px !important;
  margin-top: 21px;
  background-color: black;
  border: 1px solid black;
}

.noUi-handle{
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
  background-color: white;
  content: none !important;
}
.noUi-handle:before{
  content: none !important;
}
.noUi-handle:after{
  content: none !important;
}

.noUi-base{
  margin-top: -8px;
}


.algolia-places{
  width: 300px;
}
