.show-wrapper{
  padding: 0 100px;
}

.show-banner{
  width: 100%;
  position: relative;
  background-color: #D22780;
  height: 300px;
}

.show-banner-content{
  position: absolute;
  bottom: 50px;
  left: 20px;
  display: flex;
  border-radius: 5px;

}

.profile-details {
  color: white;
  margin-left: 30px;
  margin: 30px;
}

.avatar-profile {
  height: 176px;
  width: 176px;
  background: #f2f4fa;
  border-radius: 100px;
}

.user-details{
  font-size: 20px;
  text-align: left;
}


.show-navbar {
  height: 76px;
  width: 100%;
  background-color: white;
  transition: 0.5s opacity ease;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: solid 1px #d1d1d1;

}

.hidden-navbar {
  background-color: transparent;
  opacity: 0;
  height: 0;
}
.user-details-nav {
  float: left;
  margin: 20px 150px;
}

.nav-details {
  float: right;
  margin: 20px 380px;
}

.fa-star {
  color: #dca93e;
}


.show-content{
  display: flex;
  width: 100%;
  background: #f2f4fa;
}

.show-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  background: #f2f4fa;
  height: 700px;
}

.show-left-card{
height: 150px;
width: 600px;
background: white;
margin: 0 auto;
padding: 50px;
position: relative;
}

.bio{
height: 150px;
width: 600px;
background: white;
margin: 0 auto;
padding: 50px;

}



.about {
text-align: top;
}


.review-content {
  font-size: 18px;
}

.date-review{
  font-size: 12px;
  position: absolute;
  top: 44px;
  left: 80px;

}

.review-name{
  font-size: 14px;
  position: absolute;
  top: 22px;
  left: 80px;
}

.show-right {
    width: 20%;
    height: 470px;
    background: white;
    margin: 13px 0;

}

.info-heading{
  font-size: 16px;
  position: relative;
  left: 10px;
  padding: 20px;
}

.info-right {
  display: flex;
  justify-content: space-around
}

.show-right-title {
    text-align: center;
    color: #3c3c3c;
    font-size: 18px;
    padding-top: 20px;
}

.info-right-service {
  background-color: #dca93e;
  padding: 10px 15px;
  border-radius: 3px;

}

.star-holder {
  position: absolute;
  top: 22px;
  right: 40px;
}

.review-avatar {
  position: absolute;
  border-radius: 50%;
  background: gray;
  height: 50px;
  width: 50px;
  left: 20px;
  top: 20px;

}

.email-details {
    position: relative;
    left: 32px;
    font-size: 16px;

}


