

.show-navbar {
  height: 76px;
  width: 100%;
  background-color: white;
  transition: 0.5s opacity ease;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: solid 1px #d1d1d1;
  padding-top: 10px;

}

.hidden-navbar {
  background-color: transparent;
  opacity: 0;
  height: 0;
}

.nav-titles {
  float: left;
  margin-left: 170px;
}
.nav-title-service {
  margin-left: 320px;
}

.wrapper {
  background-color: $primary;
}

.wrapper-gray {
  background-color: $light-background;
}
.show-header {
  padding: 100px 0;
  display: flex;
  align-items: flex-start;
  .avatar {
    width: 175px;
    height: 175px;
    border-radius: 50%;
  }
}

.header-text {
  color: white;
  padding-left: 30px;
}

.user-stars {
  color: $secondary;
}

.stars {
  color: $secondary;
  flex: 0 0 130px;
  // position: absolute;
  // top: 5px;
  // right: 40px;
}


.user-description {
  margin-top: 20px;
  background-color: white;
  padding: 30px;
}
.user-reviews {
margin-top: 20px;
  background-color: white;
  padding: 30px;
}
.review-card {
  background-color: white;
  position: relative;
  margin-top: 10px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

// .r-avatar {
// position: absolute;
// border-radius: 50%;
// background: gray;
// height: 50px;
// width: 50px;
// border-radius: 50%;
// //   left: 20px;
// //   top: 20px;
// }

.revavatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.r-content {
  flex: 1 1 auto;
  // position: relative;
  // margin-left: 140px;

}

.date-review {
  // position: relative;
  // margin-left: 140px;


}
.user-skills {
  margin-top: 20px;
  background-color: white;
  padding: 30px;
}

.user-service {
  background-color: $secondary;
  padding: 5px 10px;
  color: white;
  margin-bottom: 10px;
  margin-right: 10px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}



.contact-email {
  margin-top: 50px;
}


.form-control {
  padding-bottom: 100px;
}

.btn-review {
  margin-right: 491px;
  position: relative;
  bottom: 25px;
}


.review-heading-input {
  padding: 20px 0
}

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  padding-top: 10px;
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



















// .show-wrapper{
//   padding: 0 100px;
// }

// .show-banner{
//   width: 100%;
//   position: relative;
//   background-color: #D22780;
//   height: 300px;
// }

// .show-banner-content{
//   position: absolute;
//   bottom: 50px;
//   left: 20px;
//   display: flex;
//   border-radius: 5px;

// }

// .profile-details {
//   color: white;
//   margin-left: 30px;
//   margin: 30px;
// }

// .avatar-profile {
//   height: 176px;
//   width: 176px;
//   background: #f2f4fa;
//   border-radius: 100px;
// }

// .user-details{
//   font-size: 20px;
//   text-align: left;
// }



// .user-details-nav {
//   float: left;
//   margin: 20px 150px;
// }

// .nav-details {
//   float: right;
//   margin: 20px 380px;
// }

// .fa-star {
//   color: #dca93e;
// }


// .show-content{
//   display: flex;
//   width: 100%;
//   background: #f2f4fa;
// }

// .show-left {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   width: 60%;
//   background: #f2f4fa;
//   height: 700px;
// }

// .show-left-card{
// height: 150px;
// width: 600px;
// background: white;
// margin: 0 auto;
// padding: 50px;
// position: relative;
// }

// .bio{
// height: 150px;
// width: 600px;
// background: white;
// margin: 0 auto;
// padding: 50px;

// }



// .about {
// text-align: top;
// }


// .review-content {
//   font-size: 18px;
// }

// .date-review{
//   font-size: 12px;
//   position: absolute;
//   top: 44px;
//   left: 80px;

// }

// .review-name{
//   font-size: 14px;
//   position: absolute;
//   top: 22px;
//   left: 80px;
// }

// .show-right {
//     width: 20%;
//     height: 470px;
//     background: white;
//     margin: 13px 0;

// }

// .info-heading{
//   font-size: 16px;
//   position: relative;
//   left: 10px;
//   padding: 20px;
// }

// .info-right {
//   display: flex;
//   justify-content: space-around
// }

// .show-right-title {
//     text-align: center;
//     color: #3c3c3c;
//     font-size: 18px;
//     padding-top: 20px;
// }

// .info-right-service {
//   background-color: #dca93e;
//   padding: 10px 15px;
//   border-radius: 3px;

// }

// .star-holder {
//   position: absolute;
//   top: 22px;
//   right: 40px;
// }

// .review-avatar {
//   position: absolute;
//   border-radius: 50%;
//   background: gray;
//   height: 50px;
//   width: 50px;
//   left: 20px;
//   top: 20px;

// }

// .email-details {
//     position: relative;
//     left: 32px;
//     font-size: 16px;

// }


