<div class="bid-form">
  <h6>The bid price is: £1</h6>
  <%= simple_form_for([@event,@bid]) do |f| %>
    <%= f.input :quote %>
    <%= f.input :description %>
    <%= f.submit %>
   <% end %>
</div>
