<div class="bid-form">
  <h5>Bid for £1 </h5>
  <%= simple_form_for([@event,@bid]) do |f| %>
    <%= f.input :description , placeholder: "Introduce yourself"%>
    <%= f.input :quote, placeholder: "Provide a quote here"%>
    <%= f.submit "Place Bid", class: "bid-submit"%>
   <% end %>
</div>
