<div class="footer">
  <div class="footer-links">
    <a href="#">Contact us</a>
    <a href="#">About us</a>
    <a href="#">FAQ</a>
    <a href="#">How it works</a>
    <a href="#">Pricing</a>
    <a href="#">Sitemap</a>
  </div>
  <div class="footer-media">
    <a href="#">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fab fa-facebook-f"></i>
    </a>
  </div>
  <div></div>
</div>
