<div class="container">
  <div class="order-show">
    <h1>Thanks for placing a bid!</h1>
    <h2>The host is now looking at your bid and we will let you know when they make their choice</h2>
    <%= link_to "View Your Dashboard", dashboard_path, class: "dashboard-link"%>

  </div>

</div>









