<div class="homepage-wrapper">
  <div class="top-part-homepage">
    <div class="banner">
      <h1 class="home-header">Do more of what you love</h1>
        <p>Thelo helps you setup your event for free by putting you in touch with professionals without the middleman </p>
      <%= link_to new_event_path do %>
      <div class="button button-homepage">
        Get Started
      </div>
      <% end %>
    </div>

    <div class="banner-image"> <%= image_tag "cover.png" %>
      <div class="user-link"></div>
    </div>
  </div>

  <div class="card-container">
    <div class="card-header">
      <h2 class="header-two">STEP ONE</h2>
      <h3 class="header-three">Create your event</h3>
      <p>Tell us what you need and post your event for free</p>
    </div>

    <div class="card-header">
      <h2 class="header-two">STEP TWO</h2>
      <h3 class="header-three">Accept bids from pros</h3>
      <p>You will only ever receive 3 quotes. View profiles and choose the right pro for your event</p>
    </div>

    <div class="card-header">
      <h2 class="header-two">STEP THREE</h2>
      <h3 class="header-three">Enjoy your event</h3>
      <p>Even done! Rate and review your pro</p>
    </div>
  </div>

</div>



  <div class="long-button">
    <span>Are you a professional looking for work near you?</span>
    <%= link_to events_path do %>
    <button class="button long-button-button">Start here</button>
    <% end %>
  </div>
</div>
