
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 40%), url('https://res.cloudinary.com/daitlzche/image/upload/v1542986904/acid-citric-citrus-997725.jpg');">
  <div class="search-button">
    <h1 class="home-header">Do more of what you love at home</h1>
    <%=link_to "Create your event", new_event_path, class: "btn btn-default" %>
  </div>
</div>
<div class="container">
  <div class="work-statement">
    <h2 class="card_header">How does it work?</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <div class ="home-card">
        <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542986012/undraw_coding_6mjf.svg" alt="">
      </div>
      <div class="free">
        <h3>Post your event for FREE</h3>
        <p>Tell us about your event</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="home-card">
        <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542986035/undraw_setup_obqo.svg" alt="">
      </div>
      <div class="free">
        <h3>Get a quote</h3>
        <p>Up to three hospitality Professionals get in touch</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="home-card">
        <img src="https://res.cloudinary.com/daitlzche/image/upload/v1542986035/undraw_mail_2_tqip.svg" alt="">
      </div>
      <div class="free">
        <h3>Rate and Review</h3>
        <p>Event completed</p>
      </div>
    </div>
  </div>
</div>







