<div class="banner" style="background-color: #F2F4FB">
  <div>
    <h1 class="home-header">Do more of what you love</h1>
      <p>Thelo helps you find professionals near you to come help you at your events</p>
      <div class="button">
        <%= link_to  %>
      </div>
</div>
  <div style="background-image: url(<%= image_path "cover.png" %>);">
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="card-header">
      <h3>Create your event!</h3>
      <p>You will need to give a description of your event and put out the jobs that you need!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="card-header">
      <h3>Accept bids from pros</h3>
      <p>You will need to give a description of your event and put out the jobs that you need!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="card-header">
      <h3>Enjoy your event</h3>
      <p>You will need to give a description of your event and put out the jobs that you need!</p>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

