.container{
 margin-left: 160px;
 margin-right: 160px;
 margin-top: 40px;
}

h2{
 margin-left: 160px;
 margin-right: 160px;
 text-align: center;
 padding-top: 30px;
 font-size: 48px !important;
}

.event_form{
 background: rgb(255, 255, 255);
 border: $light-background, !important;
 border-radius: 35px;
 font-family: 'Montserrat', sans-serif;
 text-align: left;
 font-size: 19px !important;
 box-shadow: none !important;
 padding-top: 20px !important;
}

.form-control{
 height: 50px !important;
}

.create-event{
 width: 180px;
 height:60px;
 font-size: 20px;
 padding: 5px;
 padding-top: 9px;
 margin-top: 50px;
 margin-bottom: 30px;
 background-color: $primary;
 opacity: 0.9;
 color: white;
 border-radius: 8px;
}
