.container {
 margin-left: 160px;
 margin-right: 160px;
 margin-top: 40px;
}

h2 {
 margin-left: 160px;
 margin-right: 160px;
 padding-bottom: 32px;
 text-align: center;
 padding-top: 30px;
 font-size: 48px !important;
}

.form-inputs {
 margin-top: 20px;
 background-color: $light-background !important;
 border: $light-background, !important;
 border-radius: 8px !important;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
 font-size: 16px !important;
 box-shadow: none !important;
 padding-top: 20px !important;
 padding-bottom: 16px !important;
}

.form-control-label {
 display: none;
}
.form-control {
 height: 50px !important;
}

.form-check-label {
 font-size: 10px;
 margin-left: 16px;
 margin-top: 10px;

}

#user_remember_me {
 margin-right: 10px;
 margin-top: 13px;
}

.button {
 width: 180px;
 height:60px;
 font-size: 20px !important;
 padding: 5px;
 padding-top: 9px;
 margin-top: 40px;
 margin-bottom: 30px;
 background-color: $primary;
 color: white;
 border: none;
 border-radius: 8px;
  &:hover {
   background-color: #991D5D;
   transition: 0.3s;
 }
  &:disabled {
   background-color: gray;
   cursor: not-allowed;
 }
}

