.bid-form-quote{
  height: 30px !important;
}
// .bid_quote{
//   height: 30px !important;
//   input{
//     height: 30px !important;
//   }
// }

.bid-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px !important;
  text-align: center;
  #bid_quote{
    // height: 30px !important;
    padding: 10px !important;
  }
  #bid_description{
    height: 64px !important;
  }
  .new_bid{
    width: 70%;
  }
  .bid-submit{
    margin-top: 14px;
    width: 70%;
    background-color: #D22780;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
  }
  .bid-submit:hover{
   background-color: #991D5D;
   transition: 0.3s;
  }
  .form-control{
    margin: 5px;
    font-size: 16px;
  }
  .form-control-label{
    font-size: 16px;
  }
}
